#Android specific
bin
gen
obj
libs/armeabi
lint.xml
local.properties
release.properties
ant.properties
*.class
*.apk
*.zip
*.txt

#Gradle
.gradle
gradle
.iml
gradlew.*
gradlew
local.*
settings.*
.idea
md5.txt
build.*
build
gradle.properties
gradle-app.setting

#Maven
target
pom.xml.*

#Eclipse
.project
.classpath
.settings
.metadata

#IntelliJ IDEA
.idea
*.iml
